
.icon-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight:500;
    gap:15px;
    max-height: 100px;
  }

  /*
  vaiants sizing
  */

  .small{
    font-size: 1rem;
  }

  .medium{
    font-size: 2rem;
  }

  .big{
    font-size: 3rem;
  }



