.navigator{
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0% 4% 0% 4%;
}

.navigator span{
    color: rgb(181, 181, 181);
    cursor: pointer;
}